*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-column-gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
}

.content__accent {
  color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  overflow: auto;
  max-height: 298px;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-top: 78px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list-item:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
  margin-top: 6px;
}

.content__card-link {
  text-decoration: none;
  display: block;
}

.content__card-link_current {
  background: #545050;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: 0;
}

input:not([type="text"]){
  cursor: pointer;
}

.search-form__textfield {
  font-family: Fira Sans Condensed, sans-serif;
  background-color: transparent;
  font-size: inherit;
  width: 225px;
  height: 27px;
  border: #fff 1px solid;
  border-right: 0;
  border-left: 0;
  margin-top: 7px;
  color: rgba(255 255 255);
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255/0.7);
}

.search-form__textfield:active {
  border-right: #fff 1px solid;
  border-left: #fff 1px solid;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

label .search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #000;
  outline-offset: 1px;
  outline: 1px solid #FFFFFF;
  margin-right: 4px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-form__label:has(input[type="checkbox"]:hover){
  text-decoration: underline;
}

.search-form__label:has(input[type='checkbox']:focus-visible){
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:not(:last-child) {
  margin-right: 21px;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-form__fieldset {
  margin-right: 40px;
}

.button {
  cursor: pointer;
  background-color: transparent;
  font-family: Fira Sans Condensed,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.button:active {
  background: #545050;
}

.more-button {
  width: 399px;
  height: 34px;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  align-self: end;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__checkbox-list {
  margin-top: 5px;
  display: flex;
}

.search-form__label-text {
  display: block;
}